modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
SESSION_ID = "TRUTH-MD:~eyJub2lzZUtleSI6eyJwcml2YXRlIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjpbMTYwLDI0NCwxNjQsMTMyLDIyOSw4MywxMjIsNjMsMzcsMTY3LDc5LDEwLDkxLDE0OSwyMDYsMzUsMTEwLDUwLDIxOSwxODgsMTE3LDIzNCwxODgsMTcsNjMsOTMsNDEsOTMsMTI5LDIwOSwxMTEsNzBdfSwicHVibGljIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjpbMjIzLDIzMSwzMSw4OSwzNCwxMzQsMTYxLDE1Niw4OSwyMjUsMjIzLDM2LDk2LDE3OSwxMjQsMTY4LDI0NSwyNDUsMjE2LDEwNiwxMTQsMjA5LDI1LDMzLDE4NiwxNjYsMTU2LDIxNSwxMiw2NiwyMjcsMTI3XX19LCJwYWlyaW5nRXBoZW1lcmFsS2V5UGFpciI6eyJwcml2YXRlIjp7InR5cGUiOiJCdWZmZXIiLCJkYXRhIjpbMTkxLDQ3LDUsMjksMTg1LDcsMTMxLDE1OSw4NSwxNjQsMjMsMjQzLDE3Myw5MCwxMDYsMTcxLDE1OCwyNDcsMTg0LDQyLDM4LDE3MywxNTMsMjE1LDQ3LDIzNiwxMzMsNjQsMjI3LDUsMSw0NF19LCJwdWJsaWMiOnsidHlwZSI6IkJ1ZmZlciIsImRhdGEiOlsxMzgsMTcwLDIwNCwyMDUsMjMwLDU5LDEwMiwyMDIsMjQsMzMsMjYsOTgsMTk4LDE3OCw3OSwxNzksMjAxLDI0NCwzMiwyNTIsNDksMTA0LDIwOCwxNzUsMTk3LDExNSwyNDAsMTcyLDE2NCwyMTUsNjksMTA1XX19fQ=="
